
@font-face {
	font-family: San-Fransisco-Semi-Bold;
	src: url("../fonts/SF-Pro-Display-Semibold.otf");
}
@font-face {
	font-family: San-Fransisco-Thin;
	src: url("../fonts/SF-Pro-Display-Thin.otf");
}
@font-face {
	font-family: San-Fransisco-Regular;
	src: url("../fonts/SF-Pro-Display-Regular.otf");
}

body{
	background-color: black;

}
.iphoneXs-hero{
	
}
.iphone-x{
	position: fixed;
	height: 500px;
	width: 250px;
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	border-color: #d0d5db;
	border-style: outset;
}
.phone-notch{
	position: relative;
	background-color: #232b2b;
	border-radius: 0px 0px 25px 25px;
	top: 2%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 20px;
	z-index: 1;

}
.notch-mic{
	position: relative;
	background-color: grey;
	width: 40px;
	height: 5px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
}
.notch-camera{
	position: relative;
	padding: 0;
	background-color: grey;
	width: 7px;
	height: 7px;
	top: 25%;
	left: 72%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.phone-left-attena-band{
	position: fixed;
	margin: 0;
	right: 100%;
	top: 7%;
	padding: 0;
	background-color: grey;
	width: 3px;
	height: 5px;
}
.phone-left-silent-switch{
	position: fixed;
    margin: 0;
    padding: 0;
    right: 96%;
    top: 12%;
    transform: rotate(-90deg);
    background-color: #d0d5db;
    width: 25px;
    height: 4px;
    border-radius: 5px 5px 0px 0px;
}
.phone-left-side-volume-up{
	position: fixed;
	margin: 0;
	padding: 0;
	right: 94%;
	top: 20%;
	transform: rotate(-90deg);
	background-color: #d0d5db;
	width: 40px;
	height: 5px;
	border-radius: 5px 5px 0px 0px;
}
.phone-left-side-volume-down{
	position: fixed;
	margin: 0;
	padding: 0;
	right: 94%;
	top: 30%;
	transform: rotate(-90deg);
	background-color: #d0d5db;
	width: 40px;
	height: 5px;
	border-radius: 5px 5px 0px 0px;
}
.phone-right-attena-band{
	position: fixed;
	margin: 0;
	left: 100%;
	top: 7%;
	padding: 0;
	background-color: grey;
	width: 3px;
	height: 5px;
}
.phone-right-side{
	position: fixed;
	margin: 0;
	padding: 0;
	left: 91.5%;
	top: 22%;
	transform: rotate(90deg);
	background-color: grey;
	width: 50px;
	height: 5px;
	border-radius: 5px 5px 0px 0px;
}
.phone-screen{
	position: relative;
	height: 500px;
	width: 250px;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../images/iPhoneXS-Wallpaper.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 25px;
	z-index: 0;
}
#phone-time{
	position: fixed;
	margin: 0;
	padding: 0;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 40px;
	font-family: San-Fransisco-Thin;
}
#phone-date{
	position: fixed;
	margin: 0;
	padding: 0;
	top: 21%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 13px;
	width: 100%;
	text-align: center;
	font-family: San-Fransisco-Semi-Bold;
}

#phone-swipe-up{
	position: fixed;
	top: 94%;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: San-Fransisco-Regular;
}
.iPhone-status-bar{
	position: fixed;
	bottom: 1%;
	margin: 0;
	padding: 0;
	background-color: white;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 3px;
	border-radius: 50px;
}
